.widget{
    display: flex;
    justify-content:  space-between;
    flex: 1;
    padding: 10px;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0,0,0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    height: 100px;

    .left, .right{
        display: flex;
        flex-direction: column;
        justify-content: space-between; 

    .title{
        font-weight: bold;
        font-size: 14px;
        color: rgb(135, 123, 123);
    }

    .counter{
        font-size: 18px;
        font-weight: 300;
    }
    }
}