.featured{
    flex: 2;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0,0,0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201 , 201 , 0.47);
    padding: 10px;

    .top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: gray;
    }

    .title{
        font-size: 18px;
        font-weight: 600;
        color: rgb(138, 12, 163);
    }

    .bottom{
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;

        .featuredChart{
            width: 350px;
            height: 100px;
        }
    }
}
