.navbar{
    height: 50px;
    border-bottom: 0.5px solid rgb(231, 228 , 228);
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #555;

    .wrapper{
        width: 100%;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .tdate {
        display: flex;
        align-items: center;
        border: 0.5px solid lightgray;
        padding: 3px;

        }

        .items{
            display: flex;
            align-items: center;

            .item{
                display: flex;
                align-items: center;
                margin-right: 20px;
                position: relative;

                .icon{
                    font-size: 20px;
                }

            }
        }
    }
}

