.dark{
    background-color: rgba(24, 15, 160, 0.815);
    color: rgb(156, 156, 156);

    .chartGrid {
        stroke: rgba(228, 288, 228, 0.219);
    }

    .table{
        background-color: rgba(17, 14, 71, 0.89);

        .tableCell{
         color:gray;
        }
    }

    .navbar{
        color: #999;
        border-color: #333;

        .search{
            border-color: gray;
        }
    }

    .sidebar{
        background-color: rgba(17, 17, 17, 0.555);
        border-color: #333;

        .top{
            .logo{
                color: #999;
            }
        }

        hr {
            border-color: #333;
        }

        ul{
            li{
                &:hover{
                    background-color: #333;
                }

                .icon{
                    color: #999;
                }
            }
        }
    }

    .datatable{
        .datagrid{
            color: gray;
            border: none;

            .viewButton,
            .deleteButton ,
            .cellWithStatus {
                color: gray;
                border: none;
            }
        }
    }
    input{
        background-color: transparent;
    }
}